<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<% if (user) { %>
    <a href="/secretWord">Click this link to view/change the secret word.</a>
    <br>
    <a href="/jobs">Click this link to view/edit jobs.</a>
<% } else { %>
    <a href="/session/logon">Click this link to logon.</a>
    <a href="/session/register">Click this link to register.</a>
<% } %>
<%- include("partials/footer.ejs") %>